:root {
  --bkd: #323232;
  --txt: #fff;
}

body {
  color: var(--fff);
  background-color: var(--bkd);
}

/*.row {
  border: solid 2px black;
}*/
nav ul (
  min-width:00px)






/* These css rules apply for display screens 800px and larger */
@media (min-width: 800px) {





  nav ul {
    min-width: 400px;
  }

}

